#Ignore Data. Reference the References folder if you are interested in viewing the raw data source
Data/

#Ignore venv
venv/

#Ignore checkpoints
*.ipynb_checkpoints

#Ignore __pycache__ files
__pycache__/

#Ignore pyc files
*.pyc
